body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #193962;
  background-repeat: no-repeat;
  background-position: top center;
}



header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #193962;
}

.logo img {
  height: 70px;
  margin-left: 30px;
  margin-top: 5px;
}




.container-image img {
  height: 300px;
}


.nav-list ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-list li{
  
  margin: 10px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #4880cb;
  color: #ffffff;
  
}

.container-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  background-color: #fff;
  color: #000;
}



.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_promo {
  display: flex;
  justify-content: space-around;
  background-color: #193962;
  margin-bottom: 30px;
}








.container_about {
  
  margin-bottom: 0;
  color:#000;
  background-color: #fff;
  padding: 0 100px 0;
  padding-top: 10px;
}

.container_about p{
  margin-bottom: 0;
 
}

.container-service {
  padding: 10px;
  color: #000;
  background-color: #fff;
}

.first_line {
  display: flex;
  justify-content: center;
  /* background-color: rgb(37, 202, 188); */
  
}

.second_line {
  display: flex;
  justify-content: center;
  /* background-color: green; */
}


.usluga_box {
  color: #f2f2f2;
  text-align: center;
  min-width: 270px;
  display: block;
  margin: 10px;
  border-style:none;
  border-radius: 25px;
  background-color: #193962;
  
}